table {
  width: 100%;
}

td, th {
  width: 13.5%;
  padding-left: 10px;
}
td.id-cell, th.id-cell{
  width: 5%;
}

tr:hover{
   cursor: pointer;
   background: #b4b4b433;
 }

.mat-elevation-z8 {
  overflow-y: scroll;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.isActive {
  background-color: #e2d8f3;
}

.table-filter{
  margin: 0 10px;
}

.table-select-control{
  margin-bottom: 20px;
}

 ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #673ab7 !important;
}
