<!--The content below is only a placeholder and can be replaced.-->
<div class="application">
  <div class="header">
    <div class="logged-in-user-wrapper">
      <i class="material-icons user-icon">account_circle</i>
      <p><strong>George Costanza</strong></p>
    </div>
    <i class="material-icons header-icon">local_hospital</i>
    <div class="sign-out-wrapper">
      <button mat-button color="primary" (click)="resetDemo()">Log Out</button>
    </div>
  </div>
  <div class="content">
    <app-content-container></app-content-container>
  </div>
  <div class="footer">
  </div>
</div>
